@media only screen and (min-width: 930px)
{
.narucipage{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
 
  .narucipage .narucidisplay .naruciforma{
    color: white;
    padding: 0px;
  }
 
  .infoforma{
    color: white;
    display: flex;
    flex-direction: row; 
  }
 
 
  .narucipage .narucidisplay .naruciforma .infoforma{
    display: flex;
    flex-direction: row;
    display: inline-block;
  }
 
 
  .narucipage li{
    list-style: none;
    color: white;
    display:inline-block;
    margin-right: 10px;
 
  }
 
  .logoside{
 
    margin: 0;
    height: auto;
    width: 50%;
    background-image: url('../../pages/LogIn/forma_bg.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoimage:hover{
    cursor: pointer;
  }
 
  .narucidisplay{
    background-image: url('../../pages/LogIn/right_bg.png');
    background-size: cover;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
  }
  .backtonarucipage{
    display: none;
  }
  .naruciforma{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
 
  .opstina{
    color: white;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
  }
  .opstina option{
    color: black;
  }
 
 
 
  .email_input{
          background: none;
          border: none;
          border-bottom: solid 2px #fff;
          color: #fff;
          font-size: 1em;
          font-weight: 400;
          letter-spacing: 1px;
          margin: 0em 0 1.875em 0;
          padding: 0 0 0.875em 0;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box;
        }
  input[type="password"]{
    letter-spacing: 5px;
 
  }
}
 
 
@media only screen and (max-width: 930px)
{
    .narucipage{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
 
      .narucipage .narucidisplay h3{
        color: wheat;
      }
 
 
      .logoside{
        display: none;
      }
 
      .narucidisplay{
        padding-top: 10%;
        background-image: url('../../pages/LogIn/right_bg.png');
        background-size: cover;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: gray;
      }
      .backtonarucipage{
        position: absolute;
        left: 10%;
        top: 1%;
      }
      .backtonarucipage:hover{
        opacity: 0.5;
        cursor: pointer;
      }
      .naruciforma{
        height: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
      }
 
      .narucipage li{
        text-decoration: none;
        list-style: none;
        color: white;
      }
 
 
      .email_input{
              background: none;
              border: none;
              border-bottom: solid 2px #fff;
              color: #fff;
              font-size: 1em;
              font-weight: 400;
              letter-spacing: 1px;
              margin: 0em 0 1.875em 0;
              padding: 0 0 0.875em 0;
              width: 100%;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -o-box-sizing: border-box;
              box-sizing: border-box;
            }
      input[type="password"]{
        letter-spacing: 5px;
 
      }
}